@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
<h2>Trạng thái License</h2>
<p><strong>Lần kiểm tra cuối:</strong> @Model.LastChecked</p>
<p><strong>Kết quả:</strong> @Model.VerifyResult</p>
<pre>@Model.LicenseContent</pre>