<section class="py-5">
  <div class="container">
   
    <div class="swiper partner">
      <div class="swiper-wrapper">
        <div class="swiper-slide d-flex justify-content-center align-items-center">
          <img src="/images/partner1.png" class="img-fluid"/>
        </div>
        <div class="swiper-slide d-flex justify-content-center align-items-center">
          <img src="/images/partner2.png" class="img-fluid"/>
        </div>
        <div class="swiper-slide d-flex justify-content-center align-items-center">
          <img src="/images/partner3.png" class="img-fluid"/>
        </div>
      </div>
      <div class="swiper-button-next"></div>
      <div class="swiper-button-prev"></div>
      <div class="swiper-pagination"></div>
    </div>
  </div>
</section>
