<section class="py-5 bg-light">
  <div class="container">
    <h5 class="text-center fw-bold mb-4">Đối tác của chúng tôi</h5>

    <div class="swiper-container partnerSwiper">
      <div class="swiper-wrapper">
        <!-- Partner logos (thay bằng logo thực tế) -->
        <div class="swiper-slide ">
          <img src="https://s3-ap-southeast-1.amazonaws.com/images.kamereo.vn/supplier/654/BANNER/KIS_UPLOAD/banner-ca-hoi---vie--7b173df8-0655-4371-8f1f-1393c7ffae26.jpg" alt="Partner 1" />
        </div>
        <div class="swiper-slide ">
          <img src="/images/partner2.png" alt="Partner 2" />
        </div>
        <div class="swiper-slide">
          <img src="/images/partner3.png"  alt="Partner 3" />
        </div>
        <!-- Thêm logo khác -->
      </div>
      <div class="swiper-pagination"></div>
      <div class="swiper-button-next"></div>
      <div class="swiper-button-prev"></div>
    </div>
  </div>
</section>
