@{
    ViewData["Title"] = "Home Page";
}

@section Styles {
  <link rel="stylesheet" href="~/css/partner-slider.css" />
  <link rel="stylesheet" href="~/css/section.css" />
}

<div class="text-center">
    <partial name="_PartnerSlider" />
    <partial name="_Section" />
</div>
@section Scripts {
  <script>
    new Swiper(".partner", {
      direction: 'horizontal',
      slidesPerView: 1,
      spaceBetween: 10,
      autoplay: {
        delay: 2500,
        disableOnInteraction: false,
      },
      loop: true,
      navigation: {
        nextEl: ".swiper-button-next",
        prevEl: ".swiper-button-prev",
      },
      pagination: {
        el: ".swiper-pagination",
      },
      mousewheel: true,
      keyboard: true,
    });

    new Swiper(".gyomuSwiper", {
      slidesPerView: 6,
      spaceBetween: 10,
      autoplay: false,
      allowTouchMove: false,
      loop: false,
      navigation: {
        nextEl: ".swiper-button-next1",
        prevEl: ".swiper-button-prev1",
      },
    });
  </script>
}